{% extends "base.html" %}
{% block title %}Dashboard Update Image URL{% endblock %}
{% block body %}
<div id="to-dashboard-link">
    <a href="{{ url_for('dashboard.page') }}">Go Back</a>
</div>
<div id="popup-contents-load">
    <h1>Update Image URL</h1>
    <div>
        <form id="form-update" action="{{ url_for('image_urls.update')}}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label() }}
            {{ form.name() }}
            <br>
            <span class="form-errors" id="form-{{ form.name.name }}"></span>
            <br>
            {{ form.url.label() }}
            {{ form.url() }}
            <br>
            <span class="form-errors" id="form-{{ form.url.name }}"></span>
            <br>
            {{ form.description.label() }}
            {{ form.description() }}
            <br>
            <span class="form-errors" id="form-{{ form.description.name }}"></span>
            <br>
            {{ form.submit() }}
        </form>
        <form action="{{ url_for('image_urls.delete') }}" method="POST">
            {{ form.hidden_tag() }}
            <input id="submit-delete" name="submit" type="submit" value="Delete" onclick="return confirm('Are you sure? This tag will also be deleted in any used projects.')">
        </form>
    </div>
    <h1>Image Preview</h1>
    <div id="project-media">
        <figure>
            <img src="{{ form.url.data }}" alt="{{ form.description.data }}">
            <a href="{{ form.url.data }}" target="_blank" rel="noopener noreferrer"><figcaption>{{ form.description.data }}</figcaption></a>
        </figure>
    </div>
    <script id="popup-contents-script">
        async function submit_form(e){
            e.preventDefault();
            for(const elem_span of document.getElementsByClassName('form-errors')){
                elem_span.textContent=''
            }
            fetch("{{ url_for('image_urls.update') }}",{
                method: "POST",
                body: new FormData(document.getElementById('form-update'))
            }).then(response => response.json())
            .then(data => {
                if(data.wtferrors){
                    for(const field in data.wtferrors){
                        const form_error = document.getElementById(`form-${field}`);
                        form_error.innerHTML=data.wtferrors[field].join('<br>');
                    }
                }
                flash_message_json(data.category, data.message)
                needs_refresh=true;
            });
        }
        document.getElementById('form-update').addEventListener('submit', submit_form);
    </script>
    <h1>Link/Unlink Image URLs to Projects</h1>
    <h3 id="update-image-url-project-links">
        {% for project in used_in_projects %}
            <span class="links-container">
                <a href="{{ url_for('dashboard.project_update', pid=project.id) }}" data-a-ajax="r">{{ project.name }}</a>
                <a href="{{ url_for('at_links.unlink_image_url', pid=project.id, iuid=form.id.data) }}" class="delete-tag" data-a-ajax="d">Unlink</a>
            </span>
        {% endfor %}
        {% if used_in_projects %}
            <br>
            <br>
        {% endif %}
        {% for project in not_used_in_projects %}
            <span class="links-container">
                <a href="{{ url_for('dashboard.project_update', pid=project.id) }}" data-a-ajax="r">{{ project.name }}</a>
                <a href="{{ url_for('at_links.link_image_url', pid=project.id, iuid=form.id.data) }}" class="create-tag" data-a-ajax="c">Link</a>
            </span>
        {% endfor %}
    </h3>
    <script id="popup-contents-script-2">
        const anchor_tree_walker = document.createTreeWalker(
            document.getElementById('update-image-url-project-links'),
            NodeFilter.SHOW_ELEMENT,
            {
                acceptNode: node => 
                    node.getAttribute('data-a-ajax') ? NodeFilter.FILTER_ACCEPT : NodeFilter.FILTER_SKIP
            }
        );
        let anchor;
        while((anchor = anchor_tree_walker.nextNode())){
            const to_href=anchor.href;
            switch(anchor.getAttribute('data-a-ajax')){
                case 'r':
                    anchor.addEventListener('click', e=>{
                        e.preventDefault();
                        ajax_to_link(to_href);
                    });
                    break;
                case 'c':
                case 'd':
                    anchor.addEventListener('click', e=>{
                        e.preventDefault();
                        fetch(to_href)
                        .then(response => response.json())
                        .then(data => {
                            flash_message_json(data.category, data.message);
                            ajax_to_link("{{ url_for('dashboard.image_url_update', iuid=form.id.data) }}");
                        });
                        needs_refresh=true;
                    });
                    break;
                default:
                    throw Error('data-a-ajax should be letter c, r, or d');
            }
        }
    </script>
</div>
{% endblock %}